<style>
  :root {
    --ingenio-red: #ce0e2d;
    --ingenio-red-dark: #a40c24;
    --bs-primary: #ce0e2d;
    --bs-primary-rgb: 206, 14, 45;
    --bs-link-color: #ce0e2d;
    --bs-link-hover-color: #a40c24;
    --bs-link-color-rgb: 206, 14, 45;
  }
  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }
  .text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ce0e2d;
    --bs-btn-border-color: #ce0e2d;
    --bs-btn-hover-bg: #a40c24;
    --bs-btn-hover-border-color: #a40c24;
    --bs-btn-active-bg: #a40c24;
    --bs-btn-active-border-color: #a40c24;
    --bs-btn-disabled-bg: #ce0e2d;
    --bs-btn-disabled-border-color: #ce0e2d;
  }
  .btn-outline-primary {
    --bs-btn-color: #ce0e2d;
    --bs-btn-border-color: #ce0e2d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ce0e2d;
    --bs-btn-hover-border-color: #ce0e2d;
    --bs-btn-active-bg: #a40c24;
    --bs-btn-active-border-color: #a40c24;
  }
</style>
